# SaaS User Behavior Analysis â€” Data Overview

## Objective
This notebook provides an initial overview of the SaaS user behavior dataset.
The goal is to:
- Understand the structure of the data
- Validate feature ranges and types
- Detect obvious inconsistencies or anomalies

No modeling or assumptions are made at this stage.

In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/raw/realistic_user_behavior_dataset_1000.csv")

# Basic structural checks
df.shape

(1000, 9)

In [2]:
df.head()

   age  income  score  height  weight  visits  clicks  time_spent  target
0   39   59796  0.435   154.8    45.0       8       4         191       1
1   33   48031  0.709   164.3    63.9       5       4         366       0
2   41   45971  0.316   168.3    68.5       9       3         209       1
3   50   48756  0.508   189.0    94.7       9       5         314       0
4   32   35634  0.371   177.0    60.6      11       5         384       1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1000 non-null   int64
 1   income      1000 non-null   int64
 2   score       1000 non-null   float64
 3   height      1000 non-null   float64
 4   weight      1000 non-null   float64
 5   visits      1000 non-null   int64
 6   clicks      1000 non-null   int64
 7   time_spent  1000 non-null   int64
 8   target      1000 non-null   int64
dtypes: float64(3), int64(6)
memory usage: 70.4 KB

In [4]:
df.describe()

,age,income,score,height,weight,visits,clicks,time_spent,target
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,34.812000,42433.235000,0.472451,171.846000,71.52130,9.256000,5.561000,371.404000,0.290000
std,9.462991,16343.081256,0.148494,9.200383,14.64087,3.595747,2.755335,145.022123,0.453989
min,18.000000,8000.000000,0.000000,150.000000,45.00000,1.000000,0.000000,30.000000,0.000000
25%,28.000000,31268.250000,0.362000,165.375000,61.50000,7.000000,4.000000,271.750000,0.000000
50%,35.000000,40328.500000,0.471500,172.000000,71.40000,9.000000,5.000000,354.000000,0.000000
75%,41.000000,51475.750000,0.576250,178.000000,81.70000,11.000000,7.000000,463.250000,1.000000
max,65.000000,112113.000000,0.862000,200.000000,128.70000,22.000000,16.000000,954.000000,1.000000

### Initial Data Inspection

- The dataset contains 1000 user sessions.
- No missing values are observed.
- Feature ranges appear realistic for a SaaS product.